<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="icon" href="/image/icon.png">
    <!-- --Boostrap-- -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!-- --Fontawsome-- -->
    <link href="./fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />

    <!-- --Custom CSS-- -->
    <link rel="stylesheet" href="stylesheet/main.css">

    <!-- animate css  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!----Google Font--  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300" rel="stylesheet">
</head>

<body>
    <!----------------Navbar------------------------>
    <div class="container nav-container"> 
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">Desi_Tech.Digital</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-caret-down" aria-hidden="true" style="
                    font-size: 30px;
                "></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#top"><i class="fa fa-home" aria-hidden="true"></i>Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about"><i class="fa fa-info-circle" aria-hidden="true"></i>About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services"><i class="fa fa-wrench" aria-hidden="true"></i>Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link contact-menu" href="#contact"><i class="fa fa-address-book"
                                aria-hidden="true"></i>Contact Us</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a target="blank" class="nav-link contact-menu" href="/user/login"> <i
                                class="fas fa-user-cog"></i>Admin</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!----------Slider---------->
    <section class="slider">
        <div class="banner1">
            <img src="./image/banner (1).jpg">
            <div class="text-box text-box1">
                <h1>Himashu banner</h1>
                <span class="line"></span>
                <p>hiiiii ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
                    itaque sapiente laboriosam ipsam labore quidem, porro iusto dolorum. Beatae dolorum excepturi
                    maiores
                    possimus autem ex facilis libero deleniti quia soluta?</p>
            </div>
        </div>
        <div class="banner2">
            <img src="./image/banner (2).jpg">
            <div class="text-box text-box2">
                <h1>Banner 2 heading</h1>
                <span class="line"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
                    itaque sapiente laboriosam ipsam labore quidem, porro iusto dolorum. Beatae dolorum excepturi
                    maiores
                    possimus autem ex facilis libero deleniti quia soluta?</p>
            </div>
        </div>

        <div class="banner3">
            <img src="./image/banner (3).jpg">
            <div class="text-box text-box3">
                <h1>Banner 3 heading</h1>
                <span class="line"></span>
                <p>hiii ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
                    itaque sapiente laboriosam ipsam labore quidem, porro iusto dolorum. Beatae dolorum excepturi
                    maiores
                    possimus autem ex facilis libero deleniti quia soluta?</p>
            </div>
        </div>

        <div class="banner4">
            <img src="./image/banner (4).jpg">
            <div class="text-box text-box4">
                <h1>Banner 4 heading</h1>
                <span class="line"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
                    itaque sapiente laboriosam ipsam labore quidem, porro iusto dolorum. Beatae dolorum excepturi
                    maiores
                    possimus autem ex facilis libero deleniti quia soluta?</p>
            </div>
        </div>
    </section>

    <!-- --Our services-- -->
    <section class="our-services" id="services">
        <div class="container div1">
            <div class="row">
                <div class="col-md-6 sl1">
                    <h1>Our Specialtion!</h1>
                    <span class="line2"></span>
                    <p>Pick the category of your newspaper ad below to start booking:
•		Print: Pick the category of your Newspaper Ad below to start booking
•	Book Matrimonial Ad in Newspaper
•	Book Property Ad in Newspaper
•	Book Recruitment Ad in Newspaper
•	Book Business Ad in Newspaper
•	Book Personal Ad in Newspaper
•	Book Vehicles Ad in Newspaper
•	Book Announcement Ad in Newspaper
•	Book Astrology Ad in Newspaper
•	Book Change of Name Ad in Newspaper
•	Book Computers Ad in Newspaper
•	Book Court or Marriage Notice Ad in Newspaper
•	Book Education Ad in Newspaper
•	Book Entertainment Ad in Newspaper
•	Book Lost and Found Ad in Newspaper
•	Book Marriage Bureau Ad in Newspaper
•	Book Obituary Ad in Newspaper
•	Book Public Notice Ad in Newspaper
•	Book Remembrance Ad in Newspaper
•	Book Retail Ad in Newspaper
•	Book Services Ad in Newspaper
•	Book Share Lost Notice Ad in Newspaper
•	Book Situation Wanted Ad in Newspaper
•	Book Tenders Ad in Newspaper
•	Book to Rent Ad in Newspaper
•	Book Travel Ad in Newspaper
•	Book Wedding Arrangements Ad in Newspaper
•	Book Business Ad in Newspaper
</p>
                </div>
                <div class="col-md-4 offset-md-2 sl2">
                    <div class="layeredImg">
                        <img class="img1" src="./image/banner (1).jpg">
                        <img class="img2" src="./image/banner (1).jpg">
                    </div>
                </div>
            </div>

            <!-- ---------  -->
            <div class="row content sl3">
                <div class="col-md-3">
                    <img src="./image/banner (3).jpg">
                </div>
                <div class="col-md-5">
                    <p>Ad types:

Classified Text Ad
 
It is the most cost-effective advertisement format in any newspaper. The Advertisements appear in the normal running text format in the classified section. The rate per line/word/character basis is paid. Enhancements such as the tick mark, colour, bold font, border result in additional charges.

Ad Classified Display
 
It is more visually appealing than classified text advertising. In order to make the ad visually more effective for the target readers, you can add personalized font, color, logo or picture here. These advertisements are paid on a per-sq basis.
.</p>
                </div>
            </div>
            <div class="row content sl4">
                <div class="col-md-3 offset-md-4">
                    <img src="./image/banner (3).jpg">
                </div>
                <div class="col-md-5">
                    <p>Mobile Application: 
To help you better handle and streamline business processes, we deliver highly customizable Android app solutions according to customer requirements. DesiTech will provide the most powerful custom software for your business that strengthens the specific processes of your company.

.</p>
                </div>
            </div>
            <div class="row content sl5">
                <div class="col-md-3">
                    <img src="./image/banner (3).jpg">
                </div>
                <div class="col-md-5">
                    <p>Digital Marketing:
Digital marketing's scope is unquestionable. Work with DesiTech, an innovative digital marketing agency that uses social media marketing, Google Advertising, PPC and email marketing to turn your social media presence into revenue generating streams, To help advertisers meet their right digital audience, we are knowledgeable in all techniques: CPM impressions, CPC clicks, CPL leads, CPA acquisitions, CPI installs.   The outcome: rapid production of lead! Transform the company with our excellent digital marketing and content marketing strategies that connect and turn consumers into a story-driven brand.

DesiTech IS A DIGITAL MARKETING COMPANY IN LUCKNOW FOCUSED ON CREATING AND EXECUTING DIGITAL STRATEGIES FOR BRANDS IN LUCKNOW AND ACROSS THE INDIA IN A WIDE RANGE OF SECTORS.
After we formulate a strategy suitable for your business, we combine an arsenal of digital marketing tactics to bring you real business results. These tactics could include but not limited to: Search Engine Optimisation (SEO), Web Design, Content Marketing, Digital PR, Pay Per Click Advertising or SEM, Influencer Marketing across Social Media Platforms etc. Be on the fast track to find your ideal client with our focus on lead generation and market intelligence


Outdoor Advertisement: MEDIA PLANNING & BUYING
Outdoor advertisement (out of home OOH) is one of the fastest growing most interactive media out there is and we are the experts in navigating your company with so many different platforms, sizes and locations to pick the best outdoor campaign to drive your company message further. The outdoor advertising purchase service All About Media encompasses all sorts of outdoor formats, including large format roadside signs, transport, airports, shopping centres (in-mall), street furniture, railway stations, petrol stations and all forms of ambient media. 
.</p>
                </div>
            </div>
            <div class="row content sl6">
                <div class="col-md-3 offset-md-4">
                    <img src="./image/banner (3).jpg">
                </div>
                <div class="col-md-5">
                    <p>Web/App Design services 

Web Development:
At DesiTech, we believe that web space can be the greatest boost your company really needs.

Our developers have just the right thing for you, whether you're a small enterprise, a medium-sized industry or a big corporation. Our team is continually working to give you the best, with their domain knowledge, strategic experience and a relentless willingness to update themselves with recent technological advancements.
We provide you with intelligent web solutions that guarantee a much more efficient return on investment (ROI) and our sole purpose is to help you grow.
•	Effective online business management.
•	Faster communication with customers and suppliers supporting increased online leads and sales.
•	Reduced operating cost and resource utilization to run your business.
.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- --about-- -->
    <section class="about" id="about">
        <div class="container">
            <h1>About Us</h1>
            <p>
                 #Covid2020 #Job #enterpenure #Client #Multipleportals #Advertising&Marketing
            </p>

            <div class="row row1">
                <div class="col-md-4 col-sm-12">
                    <div class="layeredImg">
                        <img class="img1" src="./image/banner (2).jpg">
                        <img class="img2" src="./image/banner (2).jpg">
                    </div>
                </div>
                <div class="col-md-6 offset-md-2 col-sm-12">
                    <h1>Heading</h1>
                    <span class="line2"></span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae consectetur ad, dolore magni
                        totam optio voluptas placeat deleniti doloribus
                        ipsam laborum a labore. Ipsum aperiam, sint autem itaque eaque magnam!</p>
                </div>
            </div>

        </div>
    </section>

    <section class="contact-us" id="contact">
        <div class="container contact-container">
            <h1 class="text-center">
                Contact Us
            </h1>
            <!-- --Modal-- -->

            <%- include('partials/massages'); -%>

            <!-- --------  -->
            <form action="/sent-data" method="POST">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputName">Name</label>
                                <input name="name" type="text" class="form-control" placeholder="Your Name">
                            </div>

                            <div class="form-group col-md-5">
                                <label for="inputPhone">Phone No</label>
                                <input name="phone" type="tel" class="form-control" placeholder="+91">
                            </div>
                            <div class="form-group col-md-5 offset-md-2">
                                <label for="inputEmail4">Email</label>
                                <input name="email" type="email" class="form-control" id="inputEmail4"
                                    placeholder="Email">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="validationTextarea">Subject</label>
                            <textarea name="subject" class="form-control is-invalid" id="validationTextarea"
                                placeholder="Your Subject" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="validationTextarea">Your Massage</label>
                            <textarea name="massage" class="form-control is-invalid" id="validationTextarea"
                                placeholder="How can i help you?" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-danger btn-sm">Submit</button>
                    </div>
                </div>

            </form>
        </div>

        <!-- --footer-- -->

        <footer class="mainfooter" role="contentinfo">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <!--Column1-->
                            <div class="footer-pad">
                                <h4>Heading 1</h4>
                                <ul class="list-unstyled">
                                    <li><a href="#">Sub Menu 1</a></li>
                                    <li><a href="#">Sub Menu 2</a></li>
                                    <li><a href="#">Sub Menu 3</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--Column1-->
                            <div class="footer-pad">
                                <h4>Heading 2</h4>
                                <ul class="list-unstyled">
                                    <li><a href="#">Sub Menu 1</a></li>
                                    <li><a href="#">Sub Menu 2</a></li>
                                    <li><a href="#">Sub Menu 3</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--Column1-->
                            <div class="footer-pad">
                                <h4>Heading 3</h4>
                                <ul class="list-unstyled">
                                    <li><a href="#">Sub Menu 1</a></li>
                                    <li><a href="#">Sub Menu 2</a></li>
                                    <li><a href="#">Sub Menu 3</a></li>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Follow Us</h4>
                            <ul class="social-network social-circle">
                                <li>
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fab fa-twitter"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 copy">
                            <p class="text-center">&copy; Copyright 2020 - Company Name. All rights reserved.</p>
                            <p class="text-center">Developed By: <b>MOHD SHADAB</b></p>
                        </div>
                    </div>


                </div>
            </div>
        </footer>
    </section>

    <!-- ///////////////////////////////////////////// -->
    <!-- --Custom JavaScript-- -->
    <script src="javascript/script.js"></script>

    <!-- --Boostrap JS-- -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="./bootstrap/js/bootstrap.min.js"></script>

    <script>

        $(document).ready(() => {
            $(window).scroll(() => {
                var topposi = $(document).scrollTop();
                  console.log(topposi);

                if (topposi >= 56 && topposi < 556) {
                    $('.sl1').addClass('animate__animated animate__fadeInLeft animate__delay-1s');
                    $('.sl2').addClass('animate__animated animate__fadeInRight animate__delay-1s');

                }

                if (topposi >= 382 && topposi < 1336) {
                    $('.sl3').addClass('animate__animated animate__fadeInLeft animate__delay-1s');
                    $('.sl4').addClass('animate__animated animate__fadeInRight animate__delay-2s');
                }
                if (topposi >= 832 && topposi < 1336) {
                    $('.sl5').addClass('animate__animated animate__fadeInLeft animate__delay-1s');
                    $('.sl6').addClass('animate__animated animate__fadeInRight animate__delay-2s');
                }
                if (topposi >= 1466 && topposi < 1903) {
                    $('.layeredImg').addClass('animate__animated animate__fadeInUp animate__delay-1s');
                    $('.about h1,p').addClass('animate__animated animate__fadeInUp animate__delay-1s');
                }
                if (topposi >= 2093) {
                    $('.contact-us').addClass('animate__animated animate__fadeIn animate__delay-1s');
                }
            });
        });
    //</script>
</body>

</html>
